@import "tailwindcss";

@theme {
  --color-primaryone: #fff;
  --color-primary: #f9f9f9;
  --color-secondary: #e3f2fd;
  --color-icon: #517383;
}

 /* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
} */



@root {
  --font-roboto-sans: 'Roboto', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-roboto-sans);
}


